<br>
<div class="card mx-5">
  <h3 class="card-header bg-dark text-white mx-2">Hotels List</h3>
  <div class="card-body">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Hotel Name</th>
          <th>Capacity</th>
          <th>Address</th>
        </tr>
      </thead>

      <tbody>
        <% @hotels.each do |hotel| %>
          <tr>
            <td><%= hotel.id %></td>
            <td><%= hotel.hotel_name %></td>
            <td><%= hotel.capacity %></td>
            <td><%= hotel.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>